.sample-body {
  background-color: var(--color-black);
}

.card {
  display: grid;
  border-radius: 16px;
  overflow: hidden;
}

.card0 {
  background-color: var(--color-orange-300);
}

.card1 {
  background-color: var(--color-blue-300);
}

.card2 {
  background-color: var(--color-pink-400);
}

.card3 {
  background-color: var(--color-green-400);
}

.card4 {
  background-color: var(--color-purple-700);
}

.card5 {
  background-color: var(--color-yellow-300);
}

.card-color {
  justify-self: end;
  position: relative;
  height: 35px;
  img {
    position: absolute;
    top: 0px;
    right: 0px;
    translate: -20% -15%;
    z-index: 1;
  }
}

.card-content {
  background-color: var(--color-navy-900);
  border-radius: 16px 16px 0 0;
  padding: var(--spacing-300);
  display: grid;
  row-gap: var(--spacing-300);
  z-index: 2;
}

.card-content:hover {
  background-color: var(--color-navy-800);
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .card-title {
    text-transform: capitalize;
  }

  > button {
    justify-self: end;
    background-color: transparent;
    border: none;
  }

  > button:hover {
    img {
      filter: brightness(100);
    }
  }
}

.card-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-right: var(--spacing-500);
  gap: var(--spacing-100);
}

.card-current-hours {
  font: var(--text-preset-3);
}

.card-previous-hours {
  font: var(--text-preset-6);
  color: var(--color-navy-200);
}

@media (min-width: 763px) {
  .card-color {
    height: 50px;
  }

  .card-content {
    padding: var(--spacing-400);
  }

  .card-details {
    grid-template-columns: 1fr;
  }

  .card-current-hours {
    font: var(--text-preset-1);
  }
}
